@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 64% 27%; /* Dark Blue */
    --foreground: 0 0% 98%; /* White-ish */
    --card: 240 64% 22%; /* Slightly lighter blue */
    --card-foreground: 0 0% 98%;
    --popover: 240 64% 22%;
    --popover-foreground: 0 0% 98%;
    --primary: 51 100% 50%; /* Gold */
    --primary-foreground: 240 64% 10%; /* Darker blue for contrast */
    --secondary: 240 64% 35%;
    --secondary-foreground: 51 100% 50%;
    --muted: 240 64% 35%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 47 100% 85%; /* Light Gold */
    --accent-foreground: 240 64% 10%; /* Darker blue for contrast */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 64% 35%;
    --input: 240 64% 35%;
    --ring: 51 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
